
.small {
	border: 1px solid black;
	height: 350px;
}

.small-multiples {

		display: inline-block;
		margin: 1%;
}

@media only screen and (min-width: 360px ){
	.small-multiples {
		width: 48%;
	}
	
}

@media only screen and (min-width: 450px ){
	.small-multiples {
		width: 31%;
	}
	
}

@media only screen and (min-width: 763px){
	.small-multiples {
		width: 23%;

		/*border: 1px solid black;*/
	}
}
