	/*
text colors */
/*blue: #7CABC7*/
/*black: #020609*/
/*title blue: #62AEE0*/
/*star blue: #5186A5*/
/*background blue: #98BBCE*/
/*button blue: #26709D*/
/*button and title light blue: #67ABD2*/
/*logo blue: #70B4DB*/


/*font colors*/
h1, h3, h4, h5{
	color: #224257;
}

h2 {
	color: #224257;
}

/*images*/
img {
	max-width:100%;
	max-height:100%;
}
/*navigation bar*/
.navbar-default {
	background-color:#224257;
}
.navbar-default .navbar-nav>li>a  {
	color: white ;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #d1836a; 
}
.navbar-default .navbar-nav > li > a:focus {
    background-color: #dc562d;
}


a:link {
    color: purple;
}

a:visited {
    color: purple;
}

a:hover {
    color: #d16b4a;
    text-decoration: none;
}

a:active {
    color: darkblue;
}
/*for demonstration visibility or not */
#demo {
	display: none;
	font-size: 2em;
}
#report-range{
	width: 250px;
}

/*legend*/
.legend-item {
	width: 1em;
	height: 1em;
	display: inline-block;
}

.legend {
	border: 2px solid #abbdc3;
	display: inline-block;
	padding: .5em;
	margin: 5px;
}

.charts {
	float: left;
}
.selector {
	display: inline-block;
}

/*small multiples charts*/
.small-single {
	height: 350px;
	margin: 2px;
}

.small-multiples {
	/*border: 20px solid blue;*/
	width: 98%;
	display: inline-block;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (min-width: 360px ){
	.small-multiples {
		width: 48%;
	}
	
}

@media all and (min-width: 450px ){
	.small-multiples {
		width: 31%;
	}
	
}

@media all and (min-width: 768px){
	.small-multiples {
		width: 23%;

		/*border: 1px solid black;*/
	}
}
