.legend-item {
	width: 1em;
	height: 1em;
	display: inline-block;
}

.legend {
	border: 1px solid black;
	display: inline-block;
	padding: .5em;
	margin: 5px;
}

.charts {
	float: left;
}
.selector {
	display: inline-block;
}

.small-single {
	height: 350px;
	border: 1px solid black;
	margin: 5px;
}

.small-multiples {
	width: 98%;
	display: inline-block;
	margin: 5px;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (min-width: 360px ){
	.small-multiples {
		width: 48%;
	}
	
}

@media all and (min-width: 450px ){
	.small-multiples {
		width: 31%;
	}
	
}

@media all and (min-width: 763px){
	.small-multiples {
		width: 23%;

		/*border: 1px solid black;*/
	}
}
